{% extends 'layout.html' %}

{% block title%} صفحه اصلی {% endblock title%}
{% block content%}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4 col-lg-4 col-xl-4 col-sm-4">
            <img src="{{image_url}}" class="card-img-top" alt="Machine Learning">
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8 col-sm-8">
            <div class="card-body">
                <h5 class="card-title">پیش بینی هزینه درمانی با هوش مصنوعی</h5>
                <hr>
                <form class="row g-3" action="{{ url_for('predict') }}" method="post">
                    <div class="col-md-6">
                        <label class="form-label">جنسیت</label>
                        <select id="sex_txt" class="form-select" name="sex" required>
                            <option disabled selected value>...</option>
                            <option value="2">زن</option>
                            <option value="3">مرد</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">سیگاری هستید؟</label>
                        <select id="smoker_txt" class="form-select" name="smoker" required>
                            <option disabled selected value>...</option>
                            <option value="3">خیر</option>
                            <option value="2">بله</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">سن</label>
                        <input type="number" class="form-control" id="age_txt" name="age" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">بی ام آی(bmi)</label>
                        <input type="number" class="form-control" id="pass_txt" name="bmi" step=".001"  required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">تعداد فرزند</label>
                        <input type="number" class="form-control" id="child_txt" placeholder="0" name="children" required>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">موقعیت جغرافیایی</label>
                        <select id="region_txt" class="form-select" name="region" required>
                            <option disabled selected value>...</option>
                            <option value="5">شمال شرقی</option>
                            <option value="4">شمال غربی</option>
                            <option value="3">جنوب شرقی</option>
                            <option value="2">جنوب غربی</option>
                        </select>
                    </div>
                    <hr>
                    <div class="col-12 mt-3" style="display: flex; justify-content: end;">
                        <button class="btn text-bg-danger p-2 type=" type="submit">پیش بینی</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content%}